<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dev" class="org.example.Dev" autowire="byType">
        <property name="age" value="12"/>
<!--        <constructor-arg value="14"/>-->
<!--        <property name="laptop" ref="lap"/>-->
<!--        <property name="comp" ref="com"/>-->
    </bean>

    <bean id="comp" class="org.example.Laptop" primary="true">
    </bean>
    <bean id="desk" class="org.example.Desktop">
    </bean>
</beans>